<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
</head>
<body>
    <h1>Danh sách Khách Hàng</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Mã KH</th>
                <th>Họ tên</th>
            </tr>
        </thead>
        <tbody>
            <!-- Lặp qua danh sách KH và hiển thị -->
            <tr th:each="kh : ${KH}">
                <td th:text="${kh.id}"></td>
                <td th:text="${kh.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
